# Supabase PostgreSQL
DATABASE_URL=   postgresql://postgres.fsyxblawskgqmdlrkcqw:AapliWari2026@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
# Local Redis
REDIS_URL=redis://localhost:6379/0

# Supabase
SUPABASE_URL=https://fsyxblawskgqmdlrkcqw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzeXhibGF3c2tncW1kbHJrY3F3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NjMyODYsImV4cCI6MjEwMzMzOTI4Nn0.BFxLkX0TQT2HNM7cKHZbPxRZx8cJ0dd4ZdTWi_J_sLk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzeXhibGF3c2tncW1kbHJrY3F3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Nzc2MzI4NiwiZXhwIjoyMTAzMzM5Mjg2fQ.OOHdaFDEOTamnYVsDGBXgTL6PLnDFuC39XAe8GOqaII   
SUPABASE_JWT_SECRET=UEAcbcdX9pqHrAB4ASlqrwfEaoUKeLX20zGGofBgG2SeRKV0XK0lrTt2qqFpC/wIWTsJTrQGyQ1wuBiuqlPWlQ==
VITE_CLOUDINARY_CLOUD_NAME=dqrqcnlpx
VITE_CLOUDINARY_UPLOAD_PRESET=aapli_wari_upload
VITE_API_URL=http://localhost:8000/api/v1
VITE_APP_NAME=Aapli Wari


# Appwrite
APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a914274003e1d6b8719
APPWRITE_API_KEY=standard_0c3419078d4b99901b19fdadbb774362fbe3a8bd243aac0a2fc40975daa22f3f89d2fbb593e7c668268579bf483971bb91436b855d1e7503ae80d45df645b24569c7acee767c19a36a5ff32b914d3bd6add90dd55e6af9740e99ca785922bedf01f38a94595d7d5d534af15ce3d799f4558c1bb1d89cc35fac5b4f5e3b4f6ef1
APPWRITE_BUCKET_ID=6a9142b70002581e62f2


OCR_SPACE_API_KEY=K83409319388957
LIBRETRANSLATE_URL=https://libretranslate.com/translate

OPENROUTER_API_KEY=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